!- Font Render
Xft.dpi:96
Xft.antialiasing:false
Xft.rgba:rgb
Xft.hinting:true
Xft.hintstyle:hintfull
Xft.lcdfilter:lcdfilter

URxvt.scrollstyle:plain
URxvt.scrollBar:false
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:false

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: true
URxvt.intensityStyles: true

!! Extensions
URxvt.perl-ext-common: default,matcher,url-select,keyboard-select,clipboard,vtwheel
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! Matcher
URxvt.url-launcher:     /usr/bin/google-chrome-stable
URxvt.matcher.button: 1
!!clipboard with Alt
URxvt.iso14755: False
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.underlineURLs:true
URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:style:bold,minspace=False
URxvt*boldFont: xft:DejaVu Sans Mono:pixelsize=12:style:bold,minspace=False
*.letterSpace: -1
*.lineSpace: -1

URxvt.transparent:false
URxvt.shading:30
URxvt.geometry:72x24
URxvt.saveLines: 2000


!!! COLORS !!!

! special
URxvt*foreground:           #ffffff
! if not blur = [65]
!! for blur, use the following
URxvt*background:          [30]#000000
! Material Grey (disable blurRadius and transparent options)
!URxvt*background:   [100]#0e151b

!URxvt.borderColor: #00ccff
!URxvt.borderless:true
!URxvt.internalBorder:4

URxvt.colorBD:              #ffffff
URxvt.colorIT:              #000000
URxvt.colorUL:              #000000
URxvt.underlineColor:       #00ccff
URxvt.highlightColor:       #00ccff
URxvt.highlightTextColor:   #000000

URxvt.cursorColor:          #00ccff
URxvt.cursorColor2:         #000000
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
URxvt.depth:32

!URxvt.highlightColor: #00ccff
!URxvt.highlightTextColor: #000000

*.color0: #000000
*.color1: #1822d7
*.color2: #00ccff
*.color3: #ff00cc
*.color4: #0066ff
*.color5: #0066ff
*.color6: #00ccff
*.color7: #ffffff
*.color8: #ff00cc
*.color9: #ffffff
*.color10: #00cfff
*.color11: #00cfff
*.color12: rgb:5c/5c/ff
*.color13: #00cccf
*.color14: #00828b
*.color15: #00cccf


! Xterm
XTerm*renderFont: true
XTerm*faceName: xft:UbuntuMono Nerd Font
XTerm*faceSize: 13
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

UXTerm*foreground: #c0c5ce
UXTerm*background: #000000
UXTerm*cursorColor: #c0c5ce

XTerm*foreground: #c0c5ce
XTerm*background: #000000
XTerm*cursorColor: #c0c5ce
