!! Font Render
Xft.dpi:96
Xft.antialiasing:false
Xft.rgba:rgb
Xft.hinting:true
Xft.hintstyle:hintfull
Xft.lcdfilter:lcdfilter

URxvt.scrollstyle:plain
URxvt.scrollBar:false
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:false

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: true
URxvt.intensityStyles: true

!! Extensions
!! install urxvt-perls
URxvt.perl-ext-common: default,matcher,url-select,keyboard-select,clipboard,vtwheel
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
! ^ Causes urxvt to crash when pasting on it something copied from it
!! Matcher
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1
!!clipboard with Alt
URxvt.iso14755: False
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.underlineURLs:true
URxvt.font: xft:DejaVuSansMono Nerd Font Mono:pixelsize=12:style:bold:autohint=true:antialias=true
URxvt.boldfont: xft:DejaVuSansMono Nerd Font Mono:pixelsize=12:style:bold:autohint=true:antialias=true
*letterSpace: -1
*lineSpace: -1

URxvt.transparent:false
URxvt.shading:30
URxvt.geometry:190x48
URxvt.saveLines: 5000

URxvt.internalBorder:  6
URxvt.externalBorder:  4

!!! COLORS !!!

!! special
URxvt*foreground:           #ffffff
! Material Grey (disable blurRadius and transparent options)
!URxvt*background:  [100]#121212
URxvt*background:   [100]#090c12
!URxvt*background:    [90]#10141c
!URxvt*background:    [60]#000000

!URxvt.borderColor: #00ccff
!URxvt.borderless:true
!URxvt.internalBorder:4

*colorBD:              #ffffff
*colorIT:              #1c64ff
*colorUL:              #1c64ff
*underlineColor:       #00ccff
*highlightColor:       #00ccff
*highlightTextColor:   #000000

*cursorColor:          #00ccff
*cursorColor2:         #000000
*cursorBlink:          true
*cursorUnderline:      true
URxvt.depth:32

!URxvt.highlightColor: #00ccff
!URxvt.highlightTextColor: #000000


!*bg:     #10141c
*bg:     #090c12
*fg:     #ffffff
*color0: #090C12
*color1: #1c64ff
*color2: #00ccff
*color3: #05e7c8
*color4: #0066ff
! terminal completition?
*color5: #0066ff
*color6: #00ccff
*color7: #ffffff
*color8: #ff00cc
! terminal writing and grep matches
*color9: #4177ff
*color10: #00cfff
*color10: #00ccff
*color11: #208cff
*color12: #059bff
*color13: #00ccff
*color14: #00828b
*color14: #1c64ff
*color15: #00ccff
!*color15: #0099ff

# ctrl+arrows for vim
URxvt.keysym.Control-Up:        \033[1;5A
URxvt.keysym.Control-Down:      \033[1;5B
URxvt.keysym.Control-Left:      \033[1;5D
URxvt.keysym.Control-Right:     \033[1;5C

! ST
*background:    #10141c
*alpha:         1

*borderpx:      1

! Xterm
XTerm*renderFont: true
XTerm*faceName: xft:UbuntuMono Nerd Font
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()

!! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

!! I like a LOT of scrollback...
XTerm*savelines: 16384

!! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

UXTerm*foreground: #c0c5ce
UXTerm*background: #000000
UXTerm*cursorColor: #c0c5ce

XTerm*foreground: #c0c5ce
XTerm*background: #000000
XTerm*cursorColor: #c0c5ce
