!! Font Render
! dpi: xdpyinfo | grep -B 2 resolution
! Xft.dpi:96
! Xft.dpi:116
Xft.dpi:110
Xft.antialiasing:true
Xft.rgba:rgb
Xft.hinting:true
Xft.autohint:false
Xft.hintstyle:hintfull
Xft.lcdfilter:lcdfilter

*.underlineURLs:true
! URxvt*.font: xft:DejaVuSansMono NF:pixelsize=12:style=bold, xft:DejaVuSansMono NF:pixelsize=12:style=bold
URxvt*.font: xft:DejaVuSansMono NF:pixelsize=12:style=bold, xft:DejaVuSansMono NF:pixelsize=12:style=bold
URxvt*bold.font: xft:DejaVuSansMono NF:pixelsize=12:style=bold
!!URxvt.font: xft:DejaVuSansMono Nerd Font Mono:pixelsize=12:style:bold:autohint=true:antialias=true
!!URxvt.boldfont: xft:DejaVuSansMono Nerd Font Mono:pixelsize=12:style:bold:autohint=true:antialias=true
*letterSpace: -1
*lineSpace: -1

URxvt.scrollstyle:plain
URxvt.scrollBar:false
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:false

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: true
URxvt.intensityStyles: true

!! Extensions
!! install urxvt-perls
URxvt.perl-ext-common: default,matcher,url-select,keyboard-select,clipboard,vtwheel
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
! makes urxvtd crash
!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!URxvt.keyboard-select.clipboard: true
! ^ Causes urxvt to crash when pasting on it something copied from it
!! Matcher
!URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
!!clipboard with Alt
URxvt.iso14755: False
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.transparent:false
URxvt.shading:30
URxvt.saveLines: 5000
*.geometry:190x45

URxvt.internalBorder:  6
URxvt.externalBorder:  4

!!! COLORS !!!

!! special
*foreground:   #ffffff
URxvt*background:   [100]#090C12

!URxvt.borderColor: #00ccff
!URxvt.borderless:true
!URxvt.internalBorder:4
URxvt.depth:32

! *colorBD:              #ffffff
! *colorIT:              #1c64ff
! *colorUL:              #1c64ff
*underlineColor:       #00ccff
*highlightColor:       #00ccff
*highlightTextColor:   #000000

*cursorColor:          #00ccff
*cursorColor2:         #000000
*cursorBlink:          true
*cursorUnderline:      true

!*bg:     #10141c
*bg:     #090C12
*fg:     #ffffff

! Black
*color0: #10141C
*color8: #0066ff
! red
*color1: #1C64FF
*color9: #4177ff
! green
*color2: #00ccff
*color10: #00ccff
! yellow
*color3: #16aee5
*color11: #208cff
! blue
*color4: #0066ff
*color12: #059bff
! magenta
*color5: #0066ff
*color13: #00ccff
! cyan
*color6: #00ccff
*color14: #1c64ff
! white
*color7: #FFFFFF
*color15: #FFFFFF
! *color15: #00ccff

! ctrl+arrows for vim
URxvt.keysym.Control-Up:        \033[1;5A
URxvt.keysym.Control-Down:      \033[1;5B
URxvt.keysym.Control-Left:      \033[1;5D
URxvt.keysym.Control-Right:     \033[1;5C

! ST
! st -g 190x45

!*.font: DejaVuSansMono NF:style:bold:pixelsize=12
*font: Fira Code:style:medium:pixelsize=14 
! JoyPixels for colored emojis
*fontalt0: JoyPixels:pixelsize=14

*background:    #090c12
*alpha:         1

*borderpx:      4

! Xterm
XTerm*renderFont: true
XTerm*faceName: xft:UbuntuMono Nerd Font
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()

!! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

!! I like a LOT of scrollback...
XTerm*savelines: 16384

!! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

UXTerm*foreground: #c0c5ce
UXTerm*background: #000000
UXTerm*cursorColor: #c0c5ce

XTerm*foreground: #c0c5ce
XTerm*background: #000000
XTerm*cursorColor: #c0c5ce
